body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

.about {
  padding-top: 30px;
  padding-bottom: 10px; }

.about__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  color: #000000; }

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.about__item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding-top: 63px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000; }
  .about__item::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .about__item--eco::before {
    top: 4px;
    left: 8px;
    background-image: url("../img/icon-feature-flower.svg"); }
  .about__item--hand-made::before {
    top: 8px;
    left: 3px;
    background-image: url("../img/icon-feature-ball.svg"); }
  .about__item--scandinavian::before {
    top: 7px;
    left: 1px;
    width: 50px;
    background-image: url("../img/icon-feature-money.svg"); }
  .about__item--domestic::before {
    top: 9px;
    left: -7px;
    width: 60px;
    background-image: url("../img/icon-feature-rocket.svg"); }
  .about__item--likes::before {
    top: 12px;
    left: 8px;
    background-image: url("../img/icon-feature-heart.svg"); }
  .about__item--gift-box::before {
    top: 7px;
    left: 2px;
    background-image: url("../img/icon-feature-gift.svg"); }

@media (max-width: 767px) {
  .about__item--hand-made {
    order: 4; }
  .about__item--domestic {
    order: 5; }
  .about__item--gift-box {
    order: 6; } }

@media (min-width: 768px) {
  .about {
    padding-top: 55px;
    padding-bottom: 35px; }
  .about__title {
    margin-bottom: 35px;
    font-size: 43px;
    line-height: 50px; }
  .about__item {
    width: 50%;
    padding-top: 60px;
    padding-right: 25px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 22px; } }

@media (min-width: 1150px) {
  .about {
    padding-top: 70px;
    padding-bottom: 40px; }
  .about__container {
    width: 800px; }
  .about__title {
    font-size: 53px;
    line-height: 57px; }
  .about__item {
    padding-right: 40px; } }

@keyframes bounce {
  0% {
    transform: translateY(-2000px); }
  70% {
    transform: translateY(30px); }
  90% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

.btn {
  display: block;
  width: 100%;
  padding: 14px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  outline: none; }
  .btn:hover, .btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }
  .btn--feedbacks {
    padding: 12px;
    line-height: 26px;
    border: 1px solid #ececec; }
    .btn--feedbacks svg {
      display: block;
      margin: 0 auto;
      fill: #000000; }
    .btn--feedbacks:focus {
      background-color: #ffffff; }
      .btn--feedbacks:focus svg {
        fill: #46c1ae; }
    .btn--feedbacks:hover {
      background-color: #ffffff; }
      .btn--feedbacks:hover svg {
        fill: rgba(0, 0, 0, 0.6); }
    .btn--feedbacks:active svg {
      fill: rgba(0, 0, 0, 0.3); }
    .btn--feedbacks-next {
      margin-left: -1px; }
  .btn--modal {
    color: #ffffff;
    background-color: #63d1bb;
    border-color: #63d1bb; }
    .btn--modal:hover, .btn--modal:focus {
      color: #63d1bb;
      background-color: #ffffff; }
    .btn--modal:active {
      opacity: 0.3; }

@media (min-width: 768px) {
  .btn {
    font-size: 17px; }
    .btn--feedbacks {
      margin: 0 7px;
      background-color: transparent;
      border: none; }
    .btn--form {
      width: 230px; } }

.catalog {
  margin-top: 30px; }

@media (min-width: 768px) {
  .catalog {
    margin-top: 65px; } }

@media (min-width: 1150px) {
  .catalog {
    margin-top: 110px; }
  .catalog__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 0 51px; } }

.contacts {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  .contacts iframe {
    position: absolute;
    bottom: 132px;
    right: 0;
    width: 100%;
    height: 457px;
    border: none; }

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  color: #000000; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  display: flex;
  margin-bottom: 30px; }
  .contacts__item dt {
    width: 75px; }
  .contacts__item dd {
    margin: 0;
    flex: 1; }

.contacts__link {
  padding: 2px 0;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
  outline: none; }
  .contacts__link:hover, .contacts__link:focus {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae; }
  .contacts__link:active {
    border-bottom: 1px solid rgba(70, 193, 174, 0.1); }

.contacts__img {
  display: block;
  width: 280px;
  height: 457px;
  margin-bottom: 40px;
  background-color: #f1f1f1;
  object-fit: cover; }

@media (min-width: 768px) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 55px; }
    .contacts iframe {
      bottom: 162px; }
  .contacts__title {
    position: relative;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px; }
    .contacts__title::after {
      position: absolute;
      content: "";
      top: -22px;
      right: 0;
      width: 50px;
      height: 90px;
      background: url("../img/icon-flag.svg") 0 0 no-repeat; }
  .contacts__list {
    display: flex; }
  .contacts__item {
    width: 50%;
    margin-bottom: 50px; }
  .contacts__img {
    width: 768px;
    margin: 0 auto 55px; }
  .contacts__btn {
    margin: 0 auto;
    width: 230px; } }

@media (min-width: 1150px) {
  .contacts {
    padding-bottom: 105px; }
    .contacts iframe {
      right: 50px;
      bottom: 0;
      width: 525px; }
  .contacts__container {
    position: relative;
    display: grid;
    grid-template-columns: auto 525px;
    grid-template-rows: 172px auto 52px;
    gap: 0 40px;
    padding-left: 225px; }
  .contacts__title {
    position: relative;
    margin-top: 80px;
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px; }
    .contacts__title::after {
      top: -17px;
      right: auto;
      left: -112px; }
  .contacts__list {
    flex-direction: column; }
  .contacts__item {
    width: 100%;
    margin-bottom: 30px; }
  .contacts__link {
    padding: 8px 0; }
  .contacts__img-wrapper {
    grid-row: 1 / -1;
    grid-column: 2 / -1; }
  .contacts__img {
    width: 525px;
    height: 457px;
    margin: 0; }
  .contacts__btn {
    margin: 0;
    width: 230px; } }

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px; }

@media (max-width: 767px) {
  .container {
    max-width: 728px; } }

@media (min-width: 768px) {
  .container {
    padding: 0 50px; } }

@media (min-width: 1150px) {
  .container {
    width: 1150px; } }

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  color: #000000;
  outline: none; }
  .copyright:focus {
    color: #46c1ae; }
    .copyright:focus .copyright__icon {
      fill: #46c1ae; }
  .copyright:hover {
    color: #000000; }
    .copyright:hover .copyright__icon {
      fill: #46c1ae; }
  .copyright:active {
    color: #000000; }
    .copyright:active .copyright__icon {
      fill: rgba(70, 193, 174, 0.1); }

.copyright__icon {
  margin-left: 25px;
  fill: #63d1bb; }

.feedback__content {
  margin: 0;
  margin-bottom: 35px; }

.feedback__author-name {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }

.feedback__author-link {
  font-size: 17px;
  color: #444444;
  outline: none; }
  .feedback__author-link:hover, .feedback__author-link:focus {
    color: #46c1ae; }
  .feedback__author-link:active {
    color: rgba(70, 193, 174, 0.3); }

@media (min-width: 768px) {
  .feedback__content {
    font-size: 17px;
    margin-bottom: 60px; }
  .feedback__author-name {
    margin-bottom: 5px;
    font-size: 18px; } }

@media (min-width: 1150px) {
  .feedback__content {
    margin-top: 5px;
    margin-bottom: 45px; }
  .feedback__author-name {
    font-size: 17px; } }

.feedbacks__container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px; }
  .feedbacks__container::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: center bottom;
    background-size: 320px 6px;
    background-repeat: repeat-x; }

.feedbacks__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  color: #000000; }

.feedbacks__feedback {
  margin-bottom: 30px; }

.feedbacks__controls {
  display: flex;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .feedbacks__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    min-height: 542px;
    padding-top: 85px;
    padding-bottom: 85px;
    background: url("../img/review@1x.jpg") 0 0 no-repeat; }
    .feedbacks__container::after {
      background-size: 772px 17px; }
  .feedbacks__title {
    width: calc(100% - 215px);
    margin-bottom: 35px;
    font-size: 43px;
    line-height: 50px; }
  .feedbacks__feedback {
    margin-bottom: 50px; }
  .feedbacks__controls {
    margin: 0;
    margin-top: -100px; }
  .feedbacks__btn {
    order: -1;
    width: 175px;
    margin-left: auto; } }

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .feedbacks__container {
    background-image: url("../img/review@2x.jpg"); } }

@media (min-width: 1150px) {
  .feedbacks__container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 225px;
    min-height: 547px;
    background-position: 50px 0; }
    .feedbacks__container::after {
      background-size: 1050px 23px;
      background-repeat: no-repeat; }
  .feedbacks__title {
    width: 640px;
    margin: 0;
    font-size: 53px;
    line-height: 57px; }
  .feedbacks__controls {
    margin-top: -130px; } }

.general-offer {
  background-color: #f9f9f9; }

.general-offer__container {
  max-width: 100%;
  padding: 0;
  padding-top: 75px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -17px;
  background-size: 575px 373px;
  background-repeat: no-repeat; }

.general-offer__title {
  width: 300px;
  margin: 0 auto 120px;
  font-size: 27px;
  text-align: center;
  color: #000000; }

.general-offer__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.general-offer__link {
  position: relative;
  display: block;
  padding: 30px;
  padding-top: 25px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  outline: none; }
  .general-offer__item:nth-child(4n+1) .general-offer__link,
  .general-offer__item:nth-child(4n+4) .general-offer__link {
    background-color: #63d1bb; }
    .general-offer__item:nth-child(4n+1) .general-offer__link:hover, .general-offer__item:nth-child(4n+1) .general-offer__link:focus,
    .general-offer__item:nth-child(4n+4) .general-offer__link:hover,
    .general-offer__item:nth-child(4n+4) .general-offer__link:focus {
      background-color: #59d5bc; }
  .general-offer__item:nth-child(4n+2) .general-offer__link,
  .general-offer__item:nth-child(4n+3) .general-offer__link {
    background-color: #56c3b2; }
    .general-offer__item:nth-child(4n+2) .general-offer__link:hover, .general-offer__item:nth-child(4n+2) .general-offer__link:focus,
    .general-offer__item:nth-child(4n+3) .general-offer__link:hover,
    .general-offer__item:nth-child(4n+3) .general-offer__link:focus {
      background-color: #46c1ae; }
  .general-offer__link--interior::before {
    position: absolute;
    content: "";
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background: url("../img/icon-interior.svg");
    opacity: 0.5; }
  .general-offer__link--interior:hover::before, .general-offer__link--interior:focus::before {
    opacity: 0.7; }
  .general-offer__link--interior:active::before {
    opacity: 0.3; }
  .general-offer__link--toys::before {
    position: absolute;
    content: "";
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    background: url("../img/icon-toy.svg");
    opacity: 0.5; }
  .general-offer__link--toys:hover::before, .general-offer__link--toys:focus::before {
    opacity: 0.7; }
  .general-offer__link--toys:active::before {
    opacity: 0.3; }
  .general-offer__link:hover, .general-offer__link:focus {
    margin-top: -5px;
    padding-bottom: 35px; }
  .general-offer__link div {
    width: 150px; }

@media (min-resolution: 2dppx) {
  .general-offer__container {
    background-image: url("../img/hero-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .general-offer {
    position: relative; }
    .general-offer::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center bottom;
      background-size: 770px 24px;
      background-repeat: repeat-x; }
  .general-offer__container {
    padding: 155px 50px 12px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center top;
    background-size: 1150px 746px;
    background-repeat: no-repeat; }
  .general-offer__title {
    width: 100%;
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px; }
  .general-offer__list {
    display: flex;
    flex-wrap: wrap; }
  .general-offer__item {
    width: 50%; }
  .general-offer__link {
    height: 100%;
    padding: 35px;
    padding-top: 25px;
    font-size: 20px;
    line-height: 30px; }
    .general-offer__link--interior::before {
      top: 30px; }
    .general-offer__link--toys::before {
      top: 31px;
      right: 33px; }
    .general-offer__link:hover, .general-offer__link:focus {
      height: calc(100% + 5px);
      padding-bottom: 40px; }
    .general-offer__link div {
      width: 180px; } }

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .general-offer__container {
    background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 1150px) {
  .general-offer::after {
    background-size: 1250px 34px; }
  .general-offer__container {
    padding-top: 155px;
    padding-bottom: 17px; }
  .general-offer__title {
    margin-bottom: 355px;
    font-size: 53px;
    line-height: 57px; } }

.individual-order__container {
  position: relative; }

.individual-order__annotation {
  margin: 0;
  margin-top: 15px;
  font-size: 13px;
  line-height: 24px; }

.individual-order__fieldset {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  border: none; }
  .individual-order__fieldset--user-name {
    padding-top: 30px; }

.individual-order__legend {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase; }

.individual-order__label {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000; }
  .individual-order__label--radio {
    position: relative;
    margin-bottom: 15px;
    padding-left: 60px; }
    .individual-order__label--radio:last-of-type {
      margin-bottom: 5px; }
    .individual-order__label--radio::before, .individual-order__label--radio::after {
      position: absolute;
      content: ""; }
    .individual-order__label--radio::before {
      top: -2px;
      left: 0;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 2px solid #444444;
      border-radius: 50%; }
    .individual-order__input-radio:checked + .individual-order__label--radio::after {
      top: 10px;
      left: 12px;
      width: 16px;
      height: 16px;
      background-color: #62d1ba;
      border-radius: 50%; }
    .individual-order__label--radio:hover::before,
    .individual-order__input-radio:focus + .individual-order__label--radio::before {
      border-color: #62d1ba; }
    .individual-order__label--radio:active::before {
      border-color: #444444;
      opacity: 0.3; }
  .individual-order__label--checkbox {
    position: relative;
    margin-bottom: 43px;
    padding-left: 60px; }
    .individual-order__label--checkbox:last-of-type {
      margin-bottom: 12px; }
    .individual-order__label--checkbox::before, .individual-order__label--checkbox::after {
      position: absolute;
      content: ""; }
    .individual-order__label--checkbox::before {
      top: -11px;
      left: 0;
      width: 38px;
      height: 38px;
      background-color: transparent;
      border: 2px solid #444444; }
    .individual-order__input-checkbox:checked + .individual-order__label--checkbox::after {
      top: -11px;
      left: 0;
      width: 38px;
      height: 38px;
      background: url("../img/icon-tick.svg") center no-repeat;
      background-size: 23px 16px; }
    .individual-order__label--checkbox:hover::before,
    .individual-order__input-checkbox:focus + .individual-order__label--checkbox::before {
      border-color: #62d1ba; }
    .individual-order__label--checkbox:active::before {
      border-color: #444444;
      opacity: 0.3; }
  .individual-order__label--input {
    margin-bottom: 20px; }
    .individual-order__label--input:last-of-type {
      margin-bottom: 0; }
  .individual-order__label--like-legend {
    width: max-content;
    max-width: 100px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    color: #63d1bb;
    text-transform: uppercase; }

.individual-order__input {
  position: relative;
  width: 100%;
  padding: 15px 0;
  z-index: 1;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none; }
  .individual-order__user-contacts .individual-order__input {
    padding-right: 45px; }
  .individual-order__input:hover, .individual-order__input:focus {
    border-color: #62d1ba; }
    .individual-order__input:hover + .individual-order__input-icon, .individual-order__input:focus + .individual-order__input-icon {
      fill: #62d1ba; }

.individual-order__input-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(50%, -50%);
  fill: rgba(0, 0, 0, 0.2); }

.individual-order__textarea {
  display: block;
  width: 100%;
  height: 140px;
  min-height: 70px;
  padding: 17px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
  resize: vertical; }
  .individual-order__textarea:hover, .individual-order__textarea:focus {
    border-color: #62d1ba; }

.individual-order__form-footer {
  margin-top: 17px;
  margin-bottom: 55px; }

.individual-order__note {
  margin: 0; }

@media (max-width: 767px) {
  .individual-order__container {
    min-width: 260px;
    margin: 39px 30px 0;
    padding: 0;
    border-top: 1px solid #63d1bb; }
    .individual-order__wrapper:last-of-type .individual-order__container {
      margin-top: 0;
      border: none; }
    .individual-order__user-contacts .individual-order__container {
      margin-top: 45px; }
  .individual-order__fieldset {
    margin-top: -9px; }
  .individual-order__legend {
    background-color: #ffffff; }
  .individual-order__label--radio {
    display: flex;
    align-items: center;
    min-height: 36px; }
  .individual-order__label--like-legend {
    margin-top: -9px;
    margin-bottom: 3px;
    background-color: #ffffff; }
  .individual-order__textarea {
    margin-top: 22px; }
  .individual-order__note {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 16px; } }

@media (min-width: 768px) {
  .individual-order__wrapper:nth-child(2n):not(:last-child) {
    background-color: #f1f1f1; }
  .individual-order__wrapper--textarea .individual-order__container {
    margin-top: 50px; }
  .individual-order__annotation {
    margin-top: 55px;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 30px; }
  .individual-order__fieldset {
    position: relative;
    padding: 65px 25%;
    padding-right: 0; }
    .individual-order__fieldset--user-name {
      padding-top: 50px;
      padding-bottom: 50px; }
  .individual-order__legend {
    position: absolute;
    top: 65px;
    left: 0;
    padding: 0; }
  .individual-order__colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .individual-order__label {
    font-size: 19px;
    line-height: 20px; }
    .individual-order__label--radio {
      margin-bottom: 56px;
      padding-left: 80px; }
      .individual-order__label--radio:last-of-type {
        margin-bottom: 0; }
      .individual-order__label--radio::before {
        top: -15px;
        left: 0;
        width: 50px;
        height: 50px; }
      .individual-order__input-radio:checked + .individual-order__label--radio::after {
        top: 0;
        left: 15px;
        width: 20px;
        height: 20px; }
    .individual-order__label--checkbox {
      width: calc(50% - 10px);
      margin-bottom: 56px;
      padding-left: 80px; }
      .individual-order__label--checkbox:nth-of-type(n+5) {
        margin: 0; }
      .individual-order__label--checkbox::before {
        top: -15px;
        left: 0;
        width: 50px;
        height: 50px; }
      .individual-order__input-checkbox:checked + .individual-order__label--checkbox::after {
        top: -15px;
        left: 0;
        width: 50px;
        height: 50px;
        background-size: 32px 22px; }
    .individual-order__label--input {
      display: flex;
      align-items: center;
      margin-bottom: 25px; }
    .individual-order__label--like-legend {
      position: absolute;
      top: 15px;
      left: 50px;
      padding: 0; }
  .individual-order__input {
    padding: 13px 17px;
    font-size: 19px;
    line-height: 24px; }
    .individual-order__input--user-name {
      margin-left: 25px; }
  .individual-order__input-icon {
    right: 85px; }
  .individual-order__user-contacts {
    padding: 50px 0; }
    .individual-order__user-contacts .individual-order__container:not(:last-of-type) {
      margin-bottom: 25px; }
    .individual-order__user-contacts .individual-order__input {
      width: 75%;
      margin-left: 25%;
      padding-right: 60px; }
  .individual-order__textarea {
    width: 75%;
    margin-left: 25%;
    font-size: 19px;
    line-height: 20px; }
  .individual-order__form-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (min-width: 1150px) {
  .individual-order__annotation {
    margin: 100px 175px 15px; }
  .individual-order__fieldset {
    padding-left: 175px;
    padding-right: 175px; }
    .individual-order__fieldset--colors {
      padding-right: 0; }
  .individual-order__legend {
    left: 60px; }
  .individual-order__colors {
    justify-content: flex-start; }
  .individual-order__label--checkbox {
    width: 30%; }
    .individual-order__label--checkbox:nth-of-type(n+4) {
      margin: 0; }
  .individual-order__label--like-legend {
    left: 110px; }
  .individual-order__input-icon {
    right: 260px; }
  .individual-order__user-contacts .individual-order__input {
    width: 700px;
    margin-left: 175px; }
  .individual-order__textarea {
    width: 700px;
    margin-left: 175px; }
  .individual-order__form-footer {
    margin-right: 175px;
    margin-left: 175px; } }

.main-header {
  background-color: #f1f1f1; }

.main-header__container {
  padding-top: 75px;
  padding-bottom: 75px; }

.main-header__title {
  margin: 0;
  font-size: 27px;
  text-align: center;
  color: #000000; }

@media (min-width: 768px) {
  .main-header {
    position: relative; }
    .main-header::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center bottom;
      background-size: 770px 24px;
      background-repeat: repeat-x; }
  .main-header__container {
    padding-top: 100px;
    padding-bottom: 90px; }
  .main-header__title {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .main-header::after {
    background-size: 1250px 34px; }
  .main-header__container {
    padding-bottom: 115px; }
  .main-header__title {
    font-size: 53px;
    line-height: 57px; } }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
  width: 40px;
  height: 34px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: #231f20;
    box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20; }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 7px;
    width: 26px;
    height: 2px;
    background-color: #231f20; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(45deg); }
  .main-nav .main-nav__toggle:hover::before,
  .main-nav .main-nav__toggle:hover::after,
  .main-nav .main-nav__toggle:focus::before,
  .main-nav .main-nav__toggle:focus::after {
    background-color: #63d1bb; }
  .main-nav--closed .main-nav__toggle:hover::before,
  .main-nav--closed .main-nav__toggle:hover::after,
  .main-nav--closed .main-nav__toggle:focus::before,
  .main-nav--closed .main-nav__toggle:focus::after {
    box-shadow: 0 6px 0 0 #63d1bb, 0 12px 0 0 #63d1bb; }
  .main-nav .main-nav__toggle:active::before,
  .main-nav .main-nav__toggle:active::after {
    opacity: 0.3; }

.main-nav__list-secondary {
  display: none; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    display: block; }
  .main-nav--nojs .main-nav__wrapper {
    display: block; }
  .main-nav--nojs .main-nav__toggle {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__list {
    position: absolute;
    left: 30px;
    bottom: -65px; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1150px) {
  .main-nav__wrapper {
    display: flex;
    width: 1050px;
    justify-content: space-between; }
  .main-nav__list {
    position: static; }
  .main-nav__list-secondary {
    position: absolute;
    left: 30px;
    bottom: -65px; } }

.manufacturing {
  margin-bottom: 60px; }

@media (min-width: 768px) {
  .manufacturing {
    margin-bottom: 65px; } }

@media (min-width: 1150px) {
  .manufacturing {
    margin-bottom: 105px; } }

.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 30px;
  max-width: 420px;
  padding-bottom: 45px;
  height: max-content;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }

.modal__show {
  display: block;
  animation: bounce 0.6s; }

.modal__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.modal__annotation {
  margin: 0;
  margin-bottom: 20px;
  text-align: center; }

.modal__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7px;
  margin-bottom: 30px; }

.modal__label-radio {
  flex-grow: 1;
  display: block;
  margin-right: 7px;
  padding: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #ececec; }
  .modal__input-radio:checked + .modal__label-radio {
    border-color: #62d1ba; }
  .modal__input-radio:hover + .modal__label-radio,
  .modal__input-radio:hover:checked + .modal__label-radio {
    border-color: #c6c6c6; }
  .modal__input-radio:focus + .modal__label-radio,
  .modal__input-radio:focus:checked + .modal__label-radio {
    color: #ffffff;
    background-color: #62d1ba;
    border-color: #c6c6c6; }
  .modal__input-radio:active + .modal__label-radio,
  .modal__input-radio:checked:active + .modal__label-radio {
    border-color: #62d1ba; }

@media (max-width: 767px) {
  .modal__title span {
    display: none; } }

@media (min-width: 768px) {
  .modal {
    max-width: 580px;
    padding: 45px 110px; }
  .modal__title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 57px; }
    .modal__title br {
      display: none; } }

.logo {
  display: block;
  width: 86px;
  height: 35px;
  outline: none; }
  .logo[href]:hover {
    filter: none;
    opacity: 0.6; }
  .logo:focus {
    filter: drop-shadow(0 0 2px #46c1ae); }
  .logo[href]:active {
    filter: none;
    opacity: 0.3; }
  .logo--footer {
    width: 102px;
    height: 34px;
    fill: #000000; }
    .logo--footer[href]:hover, .logo--footer:focus {
      filter: none;
      fill: #46c1ae;
      opacity: 1; }
    .logo--footer[href]:active {
      opacity: 0.3; }

@media (min-width: 768px) {
  .logo {
    width: 113px;
    height: 46px; }
    .logo:focus {
      filter: drop-shadow(0 0 8px #46c1ae); }
    .logo--footer {
      width: 102px;
      height: 34px; }
      .logo--footer:focus {
        filter: none; } }

@media (min-width: 1150px) {
  .logo {
    width: 149px;
    height: 72px; }
    .logo--footer {
      width: 102px;
      height: 34px; } }

.page {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", verdana, sans-serif; }

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  background-color: #ffffff;
  color: #444444; }

.page__dim {
  position: relative; }
  .page__dim::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); }

@media (min-width: 768px) {
  .page {
    font-size: 17px; } }

.page-footer {
  background-color: #f1f1f1; }

@media (max-width: 767px) {
  .page-footer__logo {
    display: none; } }

@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    padding-bottom: 10px; } }

.page-header {
  z-index: 1; }

.page-header__container {
  position: relative;
  padding: 0; }

.page-header__logo {
  margin: 22px auto; }

.page-header__offer {
  position: absolute;
  right: 30px;
  bottom: -65px;
  margin: 0;
  padding: 20px;
  font-size: 15px;
  line-height: 24px; }

@media (max-width: 767px) {
  .page-header__offer {
    display: none; } }

@media (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid #ececec; }
  .page-header__container {
    display: flex;
    align-items: center;
    padding: 0 50px; }
  .page-header__logo {
    margin: 0;
    margin-right: auto; } }

@media (min-width: 1150px) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); } }

.product-card {
  margin-bottom: 30px; }
  .product-card:hover .product-card__product-details, .product-card:focus-within .product-card__product-details {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .product-card:active .product-card__product-details {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  .product-card--week-offer {
    margin-bottom: 0; }
    .product-card--week-offer:hover, .product-card--week-offer:focus-within, .product-card--week-offer:active {
      box-shadow: none; }

.product-card__link-img {
  outline: none; }

.product-card__product-details {
  padding: 28px;
  padding-bottom: 0;
  border: 1px solid #ececec; }

.product-card__link {
  outline: none; }
  .product-card__link:focus .product-card__title {
    color: #63d1bb; }
  .product-card__link:hover .product-card__title {
    color: #000000;
    opacity: 0.6; }
  .product-card__link:active .product-card__title {
    color: #000000;
    opacity: 0.3; }

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }
  .product-card__title--week-offer {
    margin-bottom: 3px;
    font-size: 25px;
    line-height: 30px; }

.product-card__badge--week-offer {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb; }

.product-card__description--week-offer {
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px; }

.product-card__properties {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 30px; }
  .product-card__properties--week-offer {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px; }

.product-card__property--week-offer {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ececec; }
  .product-card__property--week-offer dt {
    width: 100px; }
  .product-card__property--week-offer dd {
    margin: 0; }

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid #ececec; }

.product-card__link-add-to-cart {
  display: block;
  height: 44px;
  margin: -10px;
  padding: 10px;
  outline: none; }

.product-card__btn-cart {
  fill: rgba(0, 0, 0, 0.2); }
  .product-card__link-add-to-cart:hover .product-card__btn-cart,
  .product-card__link-add-to-cart:focus .product-card__btn-cart {
    fill: #63d1bb; }
  .product-card__link-add-to-cart:active .product-card__btn-cart {
    fill: rgba(99, 209, 187, 0.3); }

.product-card__img {
  display: block;
  width: 100%;
  min-height: 195px;
  background-color: #ececec; }
  .product-card__img--week-offer {
    min-height: 315px;
    margin-bottom: 25px; }

.product-card__price {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000; }
  .product-card__price--week-offer {
    margin-bottom: 25px;
    font-size: 17px;
    text-align: center;
    color: #444444; }

@media (min-width: 768px) {
  .product-card {
    display: flex;
    margin-bottom: 55px; }
    .product-card:hover .product-card__product-details, .product-card:focus-within .product-card__product-details {
      box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1); }
    .product-card:active .product-card__product-details {
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1); }
    .product-card--week-offer {
      display: block;
      margin-bottom: 0; }
      .product-card--week-offer:hover, .product-card--week-offer:focus-within, .product-card--week-offer:active {
        box-shadow: none; }
  .product-card__link-img {
    width: 50%; }
  .product-card__product-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 35px;
    padding-right: 35px; }
  .product-card__header--week-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px; }
  .product-card__title {
    font-size: 20px; }
    .product-card__title--week-offer {
      margin: 0;
      font-size: 43px;
      line-height: 50px; }
  .product-card__badge--week-offer {
    width: 130px;
    margin: 0;
    line-height: 17px;
    text-align: center; }
  .product-card__content--week-offer {
    display: grid;
    grid-template-columns: auto 333px;
    gap: 0 40px;
    align-items: end; }
  .product-card__description--week-offer {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px; }
  .product-card__properties {
    font-size: 15px; }
    .product-card__properties--week-offer {
      margin-bottom: 55px; }
  .product-card__footer {
    margin-top: auto; }
  .product-card__img-wrapper--week-offer {
    grid-column: 2 / 3;
    grid-row: 1 / 5; }
  .product-card__img {
    min-height: 334px; }
    .product-card__img--week-offer {
      width: 333px;
      height: 404px;
      margin: 0; }
  .product-card__price {
    font-size: 17px; }
    .product-card__price--week-offer {
      font-size: 20px;
      margin-bottom: 35px; } }

@media (min-width: 1150px) {
  .product-card {
    display: block; }
    .product-card:hover .product-card__product-details, .product-card:focus-within .product-card__product-details {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
    .product-card:active .product-card__product-details {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
    .product-card--week-offer {
      position: relative; }
      .product-card--week-offer:hover, .product-card--week-offer:focus-within, .product-card--week-offer:active {
        box-shadow: none; }
  .product-card__product-details {
    width: 100%;
    min-height: 197px;
    padding-left: 28px;
    padding-right: 28px; }
  .product-card__header--week-offer {
    position: absolute;
    top: 60px;
    left: 15px;
    flex-direction: row-reverse; }
  .product-card__title--week-offer {
    margin-left: 30px;
    font-size: 53px;
    line-height: 57px; }
  .product-card__content--week-offer {
    grid-template-columns: auto 525px;
    gap: 0 60px;
    margin-left: 175px;
    align-items: start; }
  .product-card__description--week-offer {
    margin-top: 155px;
    margin-bottom: 50px; }
  .product-card__properties {
    margin-bottom: 10px; }
    .product-card__properties--week-offer {
      margin-bottom: 110px; }
  .product-card__img {
    width: 316px;
    height: 462px; }
    .product-card__img--week-offer {
      width: 525px;
      height: 636px; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__link {
  position: relative;
  display: block;
  padding: 27px;
  padding-left: 75px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  border-top: 1px solid #ececec;
  outline: none; }
  .site-list__link[href]:hover {
    color: rgba(0, 0, 0, 0.6); }
  .site-list__link:focus {
    color: #63d1bb; }
  .site-list__link[href]:active {
    color: rgba(0, 0, 0, 0.3); }

.site-list__icon {
  position: absolute;
  top: 30px;
  left: 30px;
  fill: rgba(0, 0, 0, 0.2); }
  .site-list__link:hover .site-list__icon,
  .site-list__link:focus .site-list__icon {
    fill: #63d1bb; }
  .site-list__link:active .site-list__icon {
    fill: rgba(99, 209, 187, 0.3); }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap; }
    .site-list--primary .site-list__link {
      padding: 20px;
      font-size: 15px;
      border: none; }
    .site-list--secondary {
      display: none; }
    .site-list--buttons {
      margin-right: -32px; }
      .site-list--buttons .site-list__link {
        padding: 32px;
        padding-left: 80px;
        border: none;
        border-left: 1px solid #ececec; }
        .site-list--buttons .site-list__link--search {
          width: 85px;
          height: 88px;
          padding: 32px; }
  .site-list__link--search span {
    display: none; }
  .site-list__icon {
    top: 35px;
    left: 32px; } }

@media (min-width: 1150px) {
  .site-list--primary {
    margin-left: -32px; }
    .site-list--primary .site-list__link {
      padding: 32px;
      font-size: 17px;
      border: none;
      border-left: 1px solid #ececec; }
      .site-list--primary .site-list__link--catalog {
        border: none; }
  .site-list--secondary {
    display: flex; }
    .site-list--secondary .site-list__item:not(:first-of-type) {
      margin-left: 20px; }
    .site-list--secondary .site-list__link {
      padding: 20px;
      font-size: 15px;
      border: none; }
  .site-list--catalog {
    border: none; } }

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5; }

.social__link {
  display: block;
  margin: 0 10px;
  padding: 10px;
  outline: none; }
  .social__link--instagram {
    height: 41px; }
  .social__link--facebook {
    height: 49px; }
  .social__link--twitter {
    height: 40px; }

.social__icon {
  fill: #231f20; }
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: #46c1ae; }
  .social__link:active .social__icon {
    fill: rgba(70, 193, 174, 0.3); }

@media (min-width: 768px) {
  .social {
    border: none; }
  .social__icon {
    fill: #000000; } }

.video:hover .video__footer, .video:focus-within .video__footer {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.video:active .video__footer {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.video__title {
  position: relative;
  margin: 0;
  padding: 20px 35px 25px 90px;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #ececec; }
  .video__title::before {
    position: absolute;
    content: "";
    top: 35px;
    left: 35px;
    width: 35px;
    height: 25px;
    background: url("../img/icon-video.svg") 0 -5px no-repeat; }

.video__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57.69%;
  background-color: #ececec; }

.video__cover {
  display: block;
  width: 100%; }

.video__control {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  padding: 0;
  background: transparent url("../img/icon-play.svg") center center no-repeat;
  cursor: pointer;
  border: none;
  outline: none; }
  .video__control:hover, .video__control:focus {
    transform: translate(-50%, -50%) scale(1.2); }
  .video__control:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3; }

.video__footer {
  padding: 35px;
  border: 1px solid #ececec; }

.video__description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 24px; }

@media (min-width: 768px) {
  .video {
    display: flex;
    flex-direction: column; }
    .video:hover .video__title,
    .video:hover .video__footer, .video:focus-within .video__title,
    .video:focus-within .video__footer {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
    .video:active .video__title,
    .video:active .video__footer {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  .video__title {
    padding: 40px;
    padding-bottom: 0;
    padding-left: 105px;
    font-size: 20px;
    border-bottom: none; }
    .video__title::before {
      top: 38px;
      left: 40px; }
    .video__title br {
      display: none; }
  .video__wrapper {
    order: -1;
    padding-bottom: 68.11%; }
  .video__footer {
    z-index: 1;
    padding: 25px 40px 45px;
    background-color: #ffffff;
    border-top: none; }
  .video__description {
    font-size: 15px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .video {
    position: relative;
    min-height: 457px;
    border: 1px solid #ececec; }
  .video__title {
    margin-left: 682px;
    padding-left: 80px;
    padding-top: 95px;
    padding-right: 55px;
    border: none; }
    .video__title::before {
      top: 45px;
      left: 80px; }
    .video__title br {
      display: block; }
  .video__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 682px;
    height: 455px;
    padding-bottom: 0; }
  .video__footer {
    margin-top: auto;
    margin-left: 682px;
    padding: 30px 55px 60px 80px;
    border: none; }
  .video__description {
    margin-bottom: 50px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.week-offer__container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px; }
  .week-offer__container::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: center bottom;
    background-size: 320px 6px;
    background-repeat: repeat-x; }

@media (min-width: 768px) {
  .week-offer__container {
    padding-top: 40px;
    padding-bottom: 70px; }
    .week-offer__container::after {
      background-size: 772px 17px; } }

@media (min-width: 1150px) {
  .week-offer__container {
    padding-top: 55px;
    padding-bottom: 95px; }
    .week-offer__container::after {
      background-size: 1050px 23px;
      background-repeat: no-repeat; } }
