.btn {
  display: block;
  width: 100%;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $page--txt;
  background-color: $btn--bg;
  border: 2px solid $btn--border;
  outline: none;

  &:hover,
  &:focus {
    color: $btn--txt-hover;
    background-color: $btn--bg-hover;
  }

  &:active {
    color: $btn--txt-active;
  }
}

@media (min-width: $tablet-width) {
  .btn {
    font-size: 17px;
  }
}
