.btn {
  display: block;
  width: 100%;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $page--txt;
  border: 2px solid $btn--border;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
