

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: $mobile-width-only) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
