.individual-order__container {
  position: relative;
}

.individual-order__annotation {
  margin: 0;
  margin-top: 17px;
  font-size: 13px;
  line-height: 24px;
}

.individual-order__fieldset {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  border: none;

  &--user-name {
    padding-top: 30px;
  }
}

.individual-order__legend {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $individual-order--txt-legend;
  text-transform: uppercase;
}

.individual-order__label {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $page--txt-alt;

  &--radio {
    position: relative;
    margin-bottom: 42px;
    padding-left: 60px;

    &:last-of-type {
      margin-bottom: 5px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      top: -11px;
      left: 0;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 2px solid $individual-order--radio-border;
      border-radius: 50%;
    }

    .individual-order__input-radio:checked + &::after {
      top: 1px;
      left: 12px;
      width: 16px;
      height: 16px;
      background-color: $individual-order--radio-checked;
      border-radius: 50%;
    }

    &:hover::before,
    .individual-order__input-radio:focus + &::before {
      border-color: $individual-order--border-hover;
    }

    &:active::before {
      border-color: $individual-order--radio-border;
      opacity: 0.3;
    }
  }

  &--checkbox {
    position: relative;
    margin-bottom: 42px;
    padding-left: 60px;

    &:last-of-type {
      margin-bottom: 5px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      top: -11px;
      left: 0;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 2px solid $individual-order--radio-border;
    }

    .individual-order__input-checkbox:checked + &::after {
      top: -11px;
      left: 0;
      width: 40px;
      height: 40px;
      background: url("../img/icon-tick.svg") center no-repeat;
      background-size: 23px 16px;
    }

    &:hover::before,
    .individual-order__input-checkbox:focus + &::before {
      border-color: $individual-order--border-hover;
    }

    &:active::before {
      border-color: $individual-order--radio-border;
      opacity: 0.3;
    }
  }

  &--input {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--like-legend {
    width: max-content;
    max-width: 100px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    color: $individual-order--txt-legend;
    text-transform: uppercase;
  }
}

.individual-order__input {
  position: relative;
  width: 100%;
  padding: 15px 0;
  z-index: 1;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  color: $page--txt;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $individual-order--input-border;
  outline: none;

  .individual-order__user-contacts & {
    padding-right: 45px;
  }

  &:hover,
  &:focus {
    border-color: $individual-order--border-hover;

    & + .individual-order__input-icon {
      fill: $individual-order--icon-hover;
    }
  }
}

.individual-order__input-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(50%, -50%);
  fill: $individual-order--icon;
}

.individual-order__textarea {
  display: block;
  width: 100%;
  height: 140px;
  min-height: 70px;
  padding: 17px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $page--txt;
  background-color: transparent;
  border: 2px solid $individual-order--input-border;
  outline: none;
  resize: vertical;

  &:hover,
  &:focus {
    border-color: $individual-order--border-hover;
  }
}

.individual-order__form-footer {
  margin-top: 17px;
  margin-bottom: 55px;
}

.individual-order__note {
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .individual-order__container {
    min-width: 260px;
    margin: 39px 30px 0;
    padding: 0;
    border-top: 1px solid $individual-order--txt-legend;

    .individual-order__wrapper:last-of-type & {
      margin-top: 0;
      border: none;
    }

    .individual-order__user-contacts & {
      margin-top: 45px;
    }
  }

  .individual-order__fieldset {
    margin-top: -9px;
  }

  .individual-order__legend {
    background-color: $page--bg;
  }

  .individual-order__label {
    &--like-legend {
      margin-top: -9px;
      margin-bottom: 3px;
      background-color: $page--bg;
    }
  }

  .individual-order__textarea {
    margin-top: 22px;
  }

  .individual-order__note {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .individual-order__wrapper {
    &:nth-child(2n):not(:last-child) {
      background-color: $page--bg-alt;
    }

    &--textarea .individual-order__container {
      margin-top: 50px;
    }
  }

  .individual-order__annotation {
    margin-top: 55px;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 30px;
  }

  .individual-order__fieldset {
    position: relative;
    padding: 65px 25%;
    padding-right: 0;

    &--user-name {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .individual-order__legend {
    position: absolute;
    top: 65px;
    left: 0;
    padding: 0;
  }

  .individual-order__colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .individual-order__label {
    font-size: 19px;
    line-height: 20px;

    &--radio {
      margin-bottom: 56px;
      padding-left: 80px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        top: -15px;
        left: 0;
        width: 50px;
        height: 50px;
      }

      .individual-order__input-radio:checked + &::after {
        top: 0;
        left: 15px;
        width: 20px;
        height: 20px;
      }
    }

    &--checkbox {
      width: calc(50% - 10px);
      margin-bottom: 56px;
      padding-left: 80px;

      &:nth-of-type(n+5) {
        margin: 0;
      }

      &::before {
        top: -15px;
        left: 0;
        width: 50px;
        height: 50px;
      }

      .individual-order__input-checkbox:checked + &::after {
        top: -15px;
        left: 0;
        width: 50px;
        height: 50px;
        background-size: 32px 22px;
      }
    }

    &--input {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }

    &--like-legend {
      position: absolute;
      top: 15px;
      left: 50px;
      padding: 0;
    }
  }

  .individual-order__input {
    padding: 13px 17px;
    font-size: 19px;
    line-height: 24px;

    &--user-name {
      margin-left: 25px;
    }
  }

  .individual-order__input-icon {
    right: 85px;
  }

  .individual-order__user-contacts {
    padding: 50px 0;

    .individual-order__container:not(:last-of-type) {
      margin-bottom: 25px;
    }

    .individual-order__input {
      width: 75%;
      margin-left: 25%;
      padding-right: 60px;
    }
  }

  .individual-order__textarea {
    width: 75%;
    margin-left: 25%;
    font-size: 19px;
    line-height: 20px;
  }

  .individual-order__form-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .individual-order__annotation {
    margin: 100px 175px 15px;
  }

  .individual-order__fieldset {
    padding-left: 175px;
    padding-right: 175px;

    &--colors {
      padding-right: 0;
    }
  }

  .individual-order__legend {
    left: 60px;
  }

  .individual-order__colors {
    justify-content: flex-start;
  }

  .individual-order__label {
    &--checkbox {
      width: 30%;

      &:nth-of-type(n+4) {
        margin: 0;
      }
    }

    &--like-legend {
      left: 110px;
    }
  }

  .individual-order__input-icon {
    right: 260px;
  }

  .individual-order__user-contacts .individual-order__input {
    width: 700px;
    margin-left: 175px;
  }

  .individual-order__textarea {
    width: 700px;
    margin-left: 175px;
  }

  .individual-order__form-footer {
    margin-right: 175px;
    margin-left: 175px;
  }
}
