.logo {
  display: block;
  width: 86px;
  height: 35px;
  outline: none;

  &[href]:hover {
    filter: none;
    opacity: 0.6;
  }

  &:focus {
    filter: drop-shadow(0 0 2px $logo--shadow-hover);
  }

  &[href]:active {
    filter: none;
    opacity: 0.3;
  }

  &--footer {
    width: 102px;
    height: 34px;
    fill: $logo-footer--fill;

    &[href]:hover,
    &:focus {
      filter: none;
      fill: $logo-footer--fill-hover;
      opacity: 1;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .logo {
    width: 113px;
    height: 46px;

    &:focus {
      filter: drop-shadow(0 0 8px $logo--shadow-hover);
    }

    &--footer {
      width: 102px;
      height: 34px;

      &:focus {
        filter: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;

    &--footer {
      width: 102px;
      height: 34px;
    }
  }
}
