.page {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $opensans;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  background-color: $page--bg;
  color: $page--txt;
}

.page__dim {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($page--dim, 0.9);
  }
}

@media (min-width: $tablet-width) {
  .page {
    font-size: 17px;
  }
}
