.page {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: $opensans;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  background-color: $page--bg;
  color: $page--txt;
}
