.product-card {
  margin-bottom: 30px;

  &--week-offer {
    margin-bottom: 0;
  }
}

.product-card__product-details {
  padding: 28px;
  padding-bottom: 0;
  border: 1px solid $product-card--border;
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
  color: $page--txt-alt;

  &--week-offer {
    margin-bottom: 3px;
    font-size: 25px;
    line-height: 30px;
  }
}

.product-card__badge {
  &--week-offer {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $product-card--bage-week-offer;
  }
}

.product-card__description {
  &--week-offer {
    margin: 0;
    margin-bottom: 20px;
    line-height: 24px;
  }
}

.product-card__properties {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 30px;

  &--week-offer {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
  }
}

.product-card__property {
  &--week-offer {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $product-card--border;

    dt {
      width: 100px;
    }

    dd {
      margin: 0;
    }
  }
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid $product-card--border;

  a {
    display: block;
    height: 44px;
    margin: -10px;
    padding: 10px;
  }
}

.product-card__btn-cart {
  fill: $product-card--btn-cart;
}

.product-card__img {
  display: block;
  width: 100%;
  min-height: 195px;
  background-color: $manufacturing--img;

  &--week-offer {
    min-height: 315px;
    margin-bottom: 25px;
  }
}

.product-card__price {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $page--txt-alt;

  &--week-offer {
    margin-bottom: 25px;
    font-size: 17px;
    text-align: center;
    color: $page--txt;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    display: flex;
    margin-bottom: 55px;

    &--week-offer {
      display: block;
      margin-bottom: 0;
    }
  }

  .product-card__link-img {
    width: 50%;
  }

  .product-card__product-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .product-card__header {
    &--week-offer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  .product-card__title {
    font-size: 20px;

    &--week-offer {
      margin: 0;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .product-card__badge {
    &--week-offer {
      width: 130px;
      margin: 0;
      line-height: 17px;
      text-align: center;
    }
  }

  .product-card__content {
    &--week-offer {
      display: grid;
      grid-template-columns: auto 333px;
      gap: 0 40px;
      align-items: end;
    }
  }

  .product-card__description {
    &--week-offer {
      margin-bottom: 40px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  .product-card__properties {
    font-size: 15px;

    &--week-offer {
      margin-bottom: 55px;
    }
  }

  .product-card__footer {
    margin-top: auto;
  }

  .product-card__img-wrapper {
    &--week-offer {
      grid-column: 2 / 3;
      grid-row: 1 / 5;
    }
  }

  .product-card__img {
    min-height: 334px;

    &--week-offer {
      width: 333px;
      height: 404px;
      margin: 0;
    }
  }

  .product-card__price {
    font-size: 17px;

    &--week-offer {
      font-size: 20px;
      margin-bottom: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    display: block;

    &--week-offer {
      position: relative;
    }
  }

  .product-card__product-details {
    width: 100%;
    min-height: 200px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .product-card__header {
    &--week-offer {
      position: absolute;
      top: 60px;
      left: 15px;
      flex-direction: row-reverse;
    }
  }

  .product-card__title {
    &--week-offer {
      margin-left: 30px;
      font-size: 53px;
      line-height: 57px;
    }
  }

  .product-card__content {
    &--week-offer {
      grid-template-columns: auto 525px;
      gap: 0 60px;
      margin-left: 175px;
    }
  }

  .product-card__description {
    &--week-offer {
      margin-top: 155px;
      margin-bottom: 50px;
    }
  }

  .product-card__properties {
    &--week-offer {
      margin-bottom: 110px;
    }
  }

  .product-card__img {
    width: 316px;
    height: 462px;

    &--week-offer {
      width: 525px;
      height: 636px;
    }
  }
}
