.product-card__title {
  &--week-offer {
    margin: 0;
    margin-bottom: 3px;
    font-size: 25px;
    color: $page--txt-alt;
  }
}

.product-card__badge {
  &--week-offer {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $product-card--bage-week-offer;
  }
}

.product-card__description {
  &--week-offer {
    margin: 0;
    margin-bottom: 20px;
    line-height: 24px;
  }
}

.product-card__properties {
  &--week-offer {
    margin: 0;
    margin-bottom: 30px;
    line-height: 20px;
  }
}

.product-card__property {
  &--week-offer {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $product-card--border;

    dt {
      width: 100px;
    }

    dd {
      margin: 0;
    }
  }
}

.product-card__img {
  &--week-offer {
    display: block;
    width: 100%;
    min-height: 315px;
    margin-bottom: 25px;
    background-color: $product-card--img;
  }
}

.product-card__price {
  &--week-offer {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .product-card__header {
    &--week-offer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  .product-card__title {
    &--week-offer {
      margin: 0;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .product-card__badge {
    &--week-offer {
      width: 130px;
      margin: 0;
      line-height: 17px;
      text-align: center;
    }
  }

  .product-card__content {
    &--week-offer {
      display: grid;
      grid-template-columns: auto 334px;
      gap: 0 40px;
      align-items: end;
    }
  }

  .product-card__description {
    &--week-offer {
      margin-bottom: 40px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  .product-card__properties {
    &--week-offer {
      margin-bottom: 55px;
    }
  }

  .product-card__img {
    &--week-offer {
      grid-column: 2 / 3;
      grid-row: 1 / 5;
      margin: 0;
    }
  }

  .product-card__price {
    &--week-offer {
      font-size: 20px;
      margin-bottom: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    &--week-offer {
      position: relative;
    }
  }

  .product-card__header {
    &--week-offer {
      position: absolute;
      top: 60px;
      left: 15px;
      flex-direction: row-reverse;
    }
  }

  .product-card__title {
    &--week-offer {
      margin-left: 30px;
      font-size: 53px;
      line-height: 57px;
    }
  }

  .product-card__content {
    &--week-offer {
      grid-template-columns: auto 525px;
      gap: 0 60px;
      margin-left: 175px;
    }
  }

  .product-card__description {
    &--week-offer {
      margin-top: 155px;
      margin-bottom: 50px;
    }
  }

  .product-card__properties {
    &--week-offer {
      margin-bottom: 110px;
    }
  }
}
