// Colors

$grey-dark: #444444;

$black: #000000;
$white: #ffffff;


// Fonts

$opensans: "Open Sans", Verdana, sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

// Blocks

$page--bg: $white;
$page--txt: $grey-dark;
