// Colors

$black: #000000;

$black-almost: #231f20;
$grey-dark: #444444;
$grey-light: #c6c6c6;
$grey-extra-light: #e5e5e5;
$white-snow: #ececec;
$white-smoke: #f1f1f1;
$white-almost: #f9f9f9;

$white: #ffffff;

$site-color-dark: #46c1ae;
$site-color-dim: #56c3b2;
$site-color: #59d5bc;
$site-color-light: #62d1ba;
$site-color-bright: #63d1bb;


// Fonts

$opensans: "Open Sans", verdana, sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

// Blocks

$btn--txt-hover: $white;
$btn--txt-active: rgba($white, 0.3);
$btn--bg: $white;
$btn--bg-hover: $grey-dark;
$btn--border: $grey-dark;
$btn--feedbacks-arrows: $black;
$btn--feedbacks-border: $white-snow;
$btn--modal-txt: $white;
$btn--modal-bg: $site-color-bright;
$btn--modal-border: $site-color-bright;


$page--bg: $white;
$page--bg-alt: $white-smoke;
$page--txt: $grey-dark;
$page--txt-alt: $black;
$page--link: $site-color-dark;
$page--dim: $white;


$contacts--link: $site-color-light;
$contacts--link-hover: $site-color-dark;
$contacts--img: $white-smoke;

$copyright--icon: $site-color-bright;
$copyright--icon-hover: $site-color-dark;

$general-offer--link: $white;
$general-offer--bg: $white-almost;
$general-offer--item-odd-bg: $site-color-bright;
$general-offer--item-odd-bg-hover: $site-color;
$general-offer--item-even-bg: $site-color-dim;
$general-offer--item-even-bg-hover: $site-color-dark;

$individual-order--txt-legend: $site-color-bright;
$individual-order--radio-border: $grey-dark;
$individual-order--radio-checked: $site-color-light;

$logo--shadow-hover: $site-color-dark;
$logo-footer--fill: $black;
$logo-footer--fill-hover: $site-color-dark;

$main-header--bg: $white-smoke;

$main-nav--btn: $black-almost;
$main-nav--btn-hover: $site-color-bright;

$manufacturing--border: $white-snow;
$manufacturing--img: $white-snow;

$modal--txt-focus: $white;
$modal--border: $grey-light;
$modal--border-alt: $white-snow;
$modal--border-alt-checked: $site-color-light;
$modal--border-alt-hover: $grey-light;
$modal--shaddow: rgba($black, 0.25);

$product-card--link-focus: $site-color-bright;
$product-card--border: $white-snow;
$product-card--shadow: rgba($black, 0.1);
$product-card--bage-week-offer: $site-color-bright;
$product-card--img: $white-snow;
$product-card--btn-cart: rgba($black, 0.2);
$product-card--btn-cart-hover: $site-color-bright;
$product-card--btn-cart-active: rgba($site-color-bright, 0.3);

$site-list--link: $black;
$site-list--link-focus: $site-color-bright;
$site-list--link-border: $white-snow;

$social--icon: $black;
$social--icon-mobile: $black-almost;
$social--icon-hover: $site-color-dark;
$social--border: $grey-extra-light;
